# Google API
client_id.json
auth_token_file

# Personal files
reports/
to_backup_in_gphotos/
2001-2005/

# Logs
logs/
*.log

# Python
__pycache__/
*.egg-info/
*.egg

# Pip
/build

# PyTest
/.pytest_cache/

# MyPy
/.mypy_cache/