[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
setuptools = "*"

[dev-packages]
"autopep8" = "*"
"doc8" = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
mypy = "*"
pytest = "*"
rope = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
